{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-12" align="center">
      <h style="font-size: 30px;">Profil</h>
  </div>
</div>

<div class="row">
  <div class="col-4">
  </div>

  <div class="col-4">
    <div class="d-flex flex-column">
      <h style="font-size: 20px;">&nbsp</h>
      <h style="font-size: 35px;">{{ nama }}</h>
      {% if request.session.role == 'anggota'%}
        <h style="font-size: 20px;">{{ level }} Member - {{ request.session.no_ktp }}</h>
      {% else %}
        <h style="font-size: 20px;">Admin</h>
      {% endif %}
    </div>
  </div>

  <div class="col-4">
  </div>
</div>

<div class="row">
  <div class="col-4">
  </div>

  <div class="col-4">
    <div class="d-flex flex-column">
      <h style="font-size: 20px;">&nbsp</h>
      {% if request.session.role == 'anggota' %}
        <h style="font-size: 18px;">Poin: </h>
        <p>{{ poin }}</p>
      {% endif %}
      <h style="font-size: 18px;">Email: </h>
      <p>{{ email }}</p>
      <h style="font-size: 18px;">Tanggal lahir: </h>
      <p>{{ tanggal_lahir }}</p>
      <h style="font-size: 18px;">Nomor telepon: </h>
      <p>{{ nomor_telepon }}</p>
      <h style="font-size: 18px;">&nbsp</h>
    </div>
  </div>

  <div class="col-4">
  </div>
</div>

{% endblock %} 