{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="{% static 'css/barang.css' %}" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<p>
  <center>
    <h1>Our Toys</h1> 
        
  </center>
  
</p>
  <div class="dropdown" id="filter" >
    <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {%for i in list_kategori%}
        <a class="dropdown-item" href="{% url 'Barang:filter' i %}">{{i}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="dropdown" id="sort">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'Barang:barangsortnama' %}">Name</a>
      <a class="dropdown-item" href="{% url 'Barang:barangsortid' %}">Id</a>
    </div>
  </div>
<div style="overflow-x:auto;">
  <table class="table table-hover" id="tables" style="text-align:center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Condition</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        {% if request.session.role == "admin" %}
        <th scope="col"><a href="{% url 'Barang:add' %}"><button class="icon-btn add-btn">
            <div class="add-icon"></div>
            <div class="btn-txt">Add</div>
          </button></a> </th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
  {%for i in barang%}
      <tr>
        <th scope="row">{{i.0}}</th>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.4}}</td>
        <td>
            <a href="{% url 'Barang:detail' i.0 %}"><button  type="button" class="btn btn-primary" >Detail</button></a>
        </td>
        {% if request.session.role == "admin" %}
        <td>
          <a href="{% url 'Barang:update' i.0 %}"><button type="button" class="btn btn-warning" style="width:70px">Update</button></a>
          <button onclick='del({{i.0}})' type="button" class="btn btn-danger" style="width: 70px;">Delete</button>
        </td>
        {%endif%}
        <td>
          <img id={{i.0}} src="{% static 'photos/shopping.ico' %}" style="width:40px" onclick="ganti('{{i.0}}')">
        </td>
      </tr>
      {% endfor %}
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td class="bg-success" style="color:white">{{barang|length}}</td>
      </tr>
    </tbody>
  </table>

<script>
$(document).ready( function () {
    $('#tables').DataTable(
      {
        "dom": '<"top"f>rt<"bottom"p><"clear">',
        "ordering": false,
        "searching": false,
        "info":     false,
        

    }
    );
} );
function del(id) {
  if (confirm("Apakah anda yakin menghapus barang ini?")){
    var url = "{% url 'Barang:delete' 'id' %}";
    document.location.href = url.replace('id', id);
  }
};
function ganti(ids) {
  
  if (document.getElementById(ids).src.includes('ico')){
    document.getElementById(ids).src = "{% static 'photos/shopping-after.png' %}";
    alert("Kamu menandai barang ini");
  }
  else{
    document.getElementById(ids).src= "{% static 'photos/shopping.ico' %}"
  }
}
</script>
{% endblock %} 