{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid bg-3 text-center" style="margin-top:50px; margin-bottom: 50px" id='details'>
		<div class="row">
			<div  class="col-sm col-md">
				<img class="image" src="{{barang.5}}" style="
				box-shadow: 5px 5px  grey;">
				<h6>{{barang.5}}</h6>
			</div>
			<div  class="col-sm col-md" style="margin-top:100px">
				<h1>{{barang.0}} </h1>
				<h4>Umur: {{barang.1}}</h4>
				<h5>Warna: {{barang.2}}</h5>
				<h5>Deskripsi: {{barang.3}}</h5>
				<h5>Material: {{barang.4}}</h5>
				<div>
					{% for i in barang_kategori%}
						<label style="border-radius:20px; background-color:rgb(197, 191, 191)">{{i}}</label>
					{%endfor%}

				</div>
				<a href="{% url 'Pesanan:buatPesanan' %}"><button  type="button" class="btn btn-primary" >Rent now!</button></a>
				<div style="margin-top:20px">
					<h3><u>Review</u></h3>
					{% for i in review%}
					{{i}}
					{%endfor%}
				</div>
			</div>
		</div>
	
{% endblock %} 