{% extends "base.html" %}
{% block content %}
{% load static %}
<center>
	<div class="form-style-5">
            <h1 style='margin-top:25px;margin-bottom:50px;'>Change toys</h1>
            <form  method="POST" action="{% url 'Barang:updateSubmit' %}">
            {% csrf_token %}
            {% for field in updateForm %}
                <p class="label_tag">
                    {% if  'Persen Royalti' in field.label   %}
                        <strong>+{{field.name}}</strong>   
                        {{ field.label_tag }} 
                        {{field}}
                    {% else %}
                        {{ field.label_tag }} 
                        {{ field }}
                    {% endif %}
                </p>
            {% endfor %}
            <input style="margin-bottom:10px" class="btn btn-info btn-lg" id="submit"  type="submit" value="Submit" >
         </form>
	</div>
</center>
{% endblock %} 