{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
	<div class="container" id="formfield">
		<div class="row justify-content-center" style="border: solid; border-color: red; border-radius: 30px; margin: 20px; margin-bottom: 40px;">
			<div class="col-lg-12">
				<p class="text-center font-weight-bold" style="font-size: 7vw;">Form Pemesanan</p>
			</div>
			<form action="" method="POST" id="pesanan_form">
				{% csrf_token %}
				{% if request.session.role == "admin" %}
				<div class="text-center col-lg-12 dropdown" style="margin: 10px;">					
					<button class="btn btn-lg btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width: 35vw;">
						Pilih Anggota
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for i in anggota %}
						<div class="form-check dropdown-item">
							<input class="form-check-input" type="radio" name="namaAnggota" value="{{i.1}}" id="anggota_no_{{forloop.counter}}">
							<label class="form-check-label" for="anggota_no_{{forloop.counter}}">
								{{i.0}}
							</label>
						</div>
						{% endfor %}
					</div>					
				</div>
				{% endif %}
				{% if request.session.role == "anggota" %}
				<input class="form-check-input" type="radio" name="namaAnggota" value="{{request.session.no_ktp}}" id="anggota_no_1">
				<label class="form-check-label" for="anggota_no_1">Myself.</label>
				{% endif %}
				<div class="dropdown text-center col-lg-12" style="margin: 10px;">
					<button class="btn btn-lg btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width: 35vw;">
						Pilih Barang
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for i in barang %}
						<div class="form-check dropdown-item">
							<input class="form-check-input" type="checkbox" name="namaBarang[]" value="{{i.1}}" id="barang_no_{{forloop.counter}}">
							<label class="form-check-label" for="barang_no_{{forloop.counter}}">
								{{i.0}}, ID: {{i.1}}
							</label>
						</div>		
						{% endfor %}				
					</div>
				</div>
				<div class="text-center col-lg-6" style="margin: 10px; max-width: 45vw;">
					<div class="form-row">
						<div class="col">
							<input type="number" min="0" class="form-control" placeholder="Lama sewa (per hari)" required name="lamaSewa" id="id_lamaSewa">
						</div>
					</div>			
				</div>
				<div class="text-center col-lg-12" style="margin: 10px">
					<button type="submit" class="btn btn-lg btn-danger" id="submitBtnPesanan" disabled="true">Submit</button>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
	$(document).ready(function(){
		var indicator1 = false;
		var indicator2 = false;
		var indicator3 = false;		

		$("input:radio").click(function() {
		  var checked_status = this.checked;
		  if (checked_status == true) {
		    indicator1 = true;		    
		  } else {		  	
		    indicator2 = false;
		  }
		});
		$("input:checkbox").click(function() {
		  var checked_status = this.checked;		
		  if (checked_status == true) {
		    indicator2 = true;		    
		  } else {		  	
		    indicator2 = false;
		  }
		});
		$("#id_lamaSewa").change(function(){
			if($("#id_lamaSewa").val()!=0){
			indicator3 = true;			
		}
			else{
				indicator3 = false;				
			}
		})
		$('#pesanan_form').change(function(){
			if (indicator1 && indicator2 && indicator3) {
			$("#submitBtnPesanan").prop("disabled", false);
			}
			else{
				$("#submitBtnPesanan").prop("disabled", true);	
			}
		})				
		$("#submitBtnPesanan").click(function(e){
			var idAnggota = '';
			var idBarang = [];
			for(var i = 1; i < $("input:radio").length+1; i++){
				if ($("#anggota_no_"+i).is(':checked')){
					idAnggota = $("#anggota_no_"+i).val();										
				}
			}
			for(var i = 1; i < $("input:checkbox").length+1; i++){
				if ($("#barang_no_"+i).is(':checked')){
					idBarang.push($("#barang_no_"+i).val());					
				}
			}
			var confirmation = false;
			$.ajax({
				method: 'POST',
				url: '/pesanan/hitung',
				data: {
					'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken').val(),
					'idAnggota':idAnggota,
					'lamaSewa':$('input[name=lamaSewa').val(),
					'barang':idBarang,
				},
				dataType: "json",
				success: function(result){					
					confirmation = confirm("Total biaya sejumlah: " + result.jumlah + ". Lanjutkan?");					
				},
				complete:function(data){					
					if(confirmation){						
						$.ajax({
							method: 'POST',
							url: '/pesanan/mendaftar',
							data: {
								'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken').val(),
								'id_pemesan':idAnggota,
								'barang':idBarang,
								'lamaSewa':$('input[name=lamaSewa').val(),
							},
							success:function(hasil){
								alert("Created.");
							}
						})						
						window.location.href="{% url 'Pesanan:daftarPesanan'%}";
					}
					else{
						window.location.href="{% url 'Pesanan:buatPesanan'%}";
					}					
				}
			})		
		})
	})
</script>
{% endblock %}