{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
	<div class="container">
		<div class="row justify-content-center" style="border: solid; border-color: red; border-radius: 30px; margin: 20px; margin-bottom: 40px;">
			<div class="col-lg-12">
				<p class="text-center font-weight-bold" style="font-size: 7vw;">Daftar Pesanan</p>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin-bottom: 5px;">
				<a href="{% url 'Pesanan:buatPesanan'%}"  class="btn btn-sm btn-danger" role="button" aria-pressed="true">Add Pesanan</a>
			</div>
			<div class="text-center col-lg-12">
				<table class="table" id="myTable">
					<thead>						
						<tr>
							<th scope="col">Id Pesanan</th>
							<th scope="col">Daftar Barang</th>
							<th scope="col">Harga</th>
							<th scope="col">Status</th>
							<th scope="col">Action</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for i in pesanan %}
						<tr>
							<th scope="row">{{i.0}}</th>
							<td>{{i.1}} <b>(ID: {{i.4}})</b></td>
							<td>{{i.2}}</td>
							<td>{{i.3}}</td>
							<td>
								<a href="{% url 'Pesanan:updatePesanan'%}?id_pesanan={{i.0}}&id_barang={{i.4}}&status={{i.3}}&nama_barang={{i.1}}" class="btn btn-sm btn-danger" role="button" aria-pressed="true">Update</a>
							</td>
							<td>
								<button type="button" class="btn btn-sm btn-outline-danger" data="{{i.0}}" onclick="deletePesanan(this.getAttribute('data'))">Delete</button>
							</td>
						</tr>
						{% endfor %}			
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
	// Basic example
	$(document).ready(function () {
	  $('#myTable').dataTable({
	    "pagingType": "simple",
	    "ordering": false,
	  });	  
	});
	function deletePesanan(data){		
		result = confirm("Are you sure you want to delete this?")
		if(result){
			$.ajax({
				method: 'GET',
				url: '/pesanan/delete',
				data: {'idPemesanan':data},
				success: function(data){
					alert("Deleted.");
					window.location.href="{% url 'Pesanan:daftarPesanan'%}";
				}
			})
		}
	}
</script>
{% endblock %}