{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
	<div class="container">
		<div class="row justify-content-center" style="border: solid; border-color: red; border-radius: 30px; margin: 20px; margin-bottom: 40px;">
			<div class="col-lg-12">
				<p class="text-center font-weight-bold" style="font-size: 7vw;">Form Update Pesanan</p>
			</div>
			<form action="{% url 'Pesanan:daftarPesanan'%}">
				<div class="dropdown text-center col-lg-12" style="margin: 10px;">
					<button class="btn btn-lg btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="min-width: 35vw;">
						Pilih Barang
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for i in barang %}
						<div class="form-check dropdown-item">
							{% if i.1 == id_barang %}
							<input class="form-check-input" type="checkbox" name="namaBarang[]" value="{{i.1}}" id="barang_no_{{forloop.counter}}" checked>
							{% endif %}
							{% if i.1 != id_barang %}
							<input class="form-check-input" type="checkbox" name="namaBarang[]" value="{{i.1}}" id="barang_no_{{forloop.counter}}">
							{% endif %}
							<label class="form-check-label" for="barang_no_{{forloop.counter}}">
								{{i.0}}, ID: {{i.1}}
							</label>
						</div>		
						{% endfor %}				
					</div>
				</div>
				{% if request.session.role == "admin" %}
				<div class="dropdown text-center col-lg-12" style="margin: 10px;">
					<button class="btn btn-lg btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 35vw;">
						Status
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for i in status %}
						<div class="form-check dropdown-item">
							{% if i.0 == status_terkini %}
							<input class="form-check-input" type="radio" name="namaAnggota" value="{{i.0}}" id="status_no_{{forloop.counter}}" checked>
							{% endif %}
							{% if i.0 != status_terkini %}
							<input class="form-check-input" type="radio" name="namaAnggota" value="{{i.0}}" id="status_no_{{forloop.counter}}">
							{% endif %}
							<label class="form-check-label" for="status_no_{{forloop.counter}}">
								{{i.0}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				<div class="text-center col-lg-6" style="margin: 10px; max-width: 45vw;">
					<div class="form-row">
						<div class="col">
							<input type="number" class="form-control" placeholder="Lama sewa (per hari)" required value="{{lama_sewa}}">
						</div>
					</div>
				</div>
				<div class="text-center col-lg-12" style="margin: 10px">
					<button type="submit" class="btn btn-lg btn-danger">Update</button>
				</div>
			</form>
		</div>
	</div>
</body>
{% endblock %}