{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
	<div class="container">
		<div class="row justify-content-center" style="border: solid; border-color: red; border-radius: 30px; margin: 20px; margin-bottom: 40px;">
			<div class="col-lg-12">
				<p class="text-center font-weight-bold" style="font-size: 7vw;">Form Tambah Level</p>
			</div>
			<div class="col-lg-12" style="margin: 10px">				
				<form action="" method="POST">
					{% csrf_token %}
					<div class="col-lg-12">
						{{ form.as_p }}
					</div>				
					<div class="text-center col-lg-12" style="margin: 10px">
						<button type="submit" class="btn btn-md btn-danger" id="tambah-level" action="POST">Tambah</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}