{% extends "base.html" %}
{% block content %}
{% load static %}

<body>	
	<div class="container">
		<div class="row justify-content-center" style="border: solid; border-color: red; border-radius: 30px; margin: 20px; margin-bottom: 40px;">
			<div class="col-lg-12">
				<p class="text-center font-weight-bold" style="font-size: 7vw;">Daftar Level</p>
			</div>
			<div class="col-lg-12 text-right" style="margin-bottom: 5px;">
				<a href="{% url 'Level:buatLevel'%}"  class="btn btn-sm btn-danger" role="button" aria-pressed="true">Add</a>
			</div>
			<div class="text-center col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama level</th>
							<th scope="col">Deskripsi</th>
							<th scope="col">Minimum poin</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for i in level%}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>
							<td>{{i.0}}</td>
							<td>{{i.2}}</td>
							<td>{{i.1}}</td>
							<td>
								<button onclick="window.location.href='{% url 'Level:updateLevel' %}?level={{i.0}}&poin={{i.1}}&desc={{i.2}}'" class="btn btn-sm btn-danger">Update</button>
								<button type="button" class="btn btn-sm btn-outline-danger" data="{{i.0}}" onclick="deleteLevel(this.getAttribute('data'))">Delete</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div> 		
	</div>
</body>
<script>
	function deleteLevel(data){		
		result = confirm("Are you sure you want to delete this?")
		if(result){
			$.ajax({
				method: 'GET',
				url: '/level/delete',
				data: {'level':data},
				success: function(data){
					alert("Deleted.");
					window.location.href="{% url 'Level:daftarLevel'%}";
				}
			})
		}
	}
</script>
{% endblock %}