div {
    font-family: 'Crete Round', serif;
}

.auth-btn{
    color: #e84a4a;    
    border: 1px solid #e84a4a;
}

.auth-btn:hover{
    background-color: #e84a4a;
    border: 1px solid #e84a4a;
}

.auth-btn:focus {
  outline: 0;
  outline-offset: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none ;
}

.register-input {
  width: 300px;
}

.form-control:focus {
  border-color: #e84a4a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}