#body{
    
    background-image: url('../photos/bg.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#part1{
    display:inline-block;
    white-space:nowrap;
}
#part2{
    display:flex;
}
#wel{
    
    font-size: calc(75px + 2vmin);
    font-family: 'Pacifico', cursive;
}

.nav-link{
    font-family: 'Crete Round', serif;
    font-size: 18px;
    color: #ffffff !important;
    
}
footer{
    background-color: #ffffff44;
    color: grey
}
.App-home {
    
    background-color: #ffffff44;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: rgb(235, 231, 231);
    margin-top: -20px;
    
    font-family: 'Crete Round', serif;
  }


  
  .containers {
    width: 80%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #btnn {
    position: relative;
    margin: 0;
    padding: 5px 12px;
    height: 60px;
    width: 150px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e84a4a;
    border-radius: 10px;
    color: #e84a4a;
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  #btnn span {
    color: #e84a4a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  #btnn:hover {
    animation: rotate 0.7s ease-in-out both;
  }
  #btnn:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  .btn-pill:before, .btn-pill:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #e84a4a;
    content: "";
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  .btn-pill:hover:before, .btn-pill:hover:after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  .btn-pill:hover:before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  .btn-pill:hover:after {
    transform: translate(50%, 0) scale(1.1);
  }
  .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  .btn-shine span {
    z-index: 20;
  }
  .btn-shine:after {
    background: #e84a4a;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn-slide-line.center:after {
    left: 50%;
  }
  .btn-slide-line:after {
    position: absolute;
    right: 0;
    left: auto;
    transition: 0.3s;
    content: "";
    width: 0;
    bottom: 0;
    height: 3px;
    background: #e84a4a;
  }
  .btn-slide-line:hover {
    cursor: pointer;
  }
  .btn-slide-line:hover:after {
    width: 100%;
    left: 0;
  }
  .inspire a {
    text-decoration: none;
  }
  