{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
<body>
<center><strong>Chat</strong></center>
<div class="container">
  <div class="messaging">
      {%for i in chat%}         
      <div >                     
        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
        
        <div class="chat_ib" style="margin-bottom: 100px">
          <h5>{{i.2}} <span class="chat_date">{{i.1}}</span></h5>
          <p>{{i.0}}</p>
        </div>
      </div>
    
    {%endfor%}
    <div class="input_msg_write">
      <form  method="POST" action="{% url 'Chat:sendUser' %}">
        {% csrf_token %}
        <input name="isi" style="background-color:#cecbcc; border-radius: 10px; margin-top: 10px" type="text" class="write_msg" placeholder="Type a message" />
      </form>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %} 