{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
<body>
  <center><h1>Room Chat</h1></center>
<div class="container">
<div class="messaging">
          <div class="inbox_chat"> 
           {%for i in list%}
            <a href="{% url 'Chat:box' i.1 %}"><div class="chat_list" id= {{i.1}}>
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{i.0}}</h5>
                </div>
              </div>
              </div>
            </a>
            {%endfor%}
          </div>
    </div>
    </body>
    </html>
{% endblock %} 