{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 475px;">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 220px;">
    <div class="d-flex flex-column justify-content-center">
      <form action='' method='post'>
        {% csrf_token %}
        {{ form }}

        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60px;">
          <button type="submit" class="btn-lg btn-outline-primary auth-btn">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 10px;">
    <a href="{% url 'Auth:chooserole' %}"><button type="button" class="btn-lg btn-outline-primary auth-btn">Register</button></a>
  </div>
</div>

{% endblock %} 