{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center">
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 475px;">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 10px;">
    <h style="font-size: 30px">Pilih Role Anda</h>
    <a href="{% url 'Auth:reguser' %}"><button type="button" class="btn-lg btn-outline-primary auth-btn">Anggota</button></a>
    <a href="{% url 'Auth:regadmin' %}"><button type="button" class="btn-lg btn-outline-primary auth-btn">Admin</button></a>
  </div>
</div>

{% endblock %} 