{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center">
	<div>
		<h style="font-size: 30px">Pendaftaran Admin Baru</h>
	</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 475px;">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 220px;">
    <div class="d-flex flex-column justify-content-center">
      {% if request.session.valid == 'F' %}
        <a>No KTP atau email sudah digunakan!</a>
        <a>&nbsp</a>
      {% endif %}
      <form action='/auth/register/admin/' method='post'>
        {% csrf_token %}

        {{ form }}

        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60px;">
          <button type="submit" class="btn-lg btn-outline-primary auth-btn">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <!--<form>
    <div class="form-group">
      <label for="noktpinput">No. KTP</label>
      <input type="input" class="form-control register-input" id="noktpinput" placeholder="Masukkan nomor KTP" required>
    </div>

    <div class="form-group">
      <label for="namalengkapinput">Nama lengkap</label>
      <input type="input" class="form-control register-input" id="namalengkap" placeholder="Masukkan nama lengkap" required>
    </div>

    <div class="form-group">
      <label for="emailinput">Email</label>
      <input type="email" class="form-control register-input" id="emailinput" placeholder="Masukkan alamat email" required>
    </div>

    <div class="form-group">
      <label for="tgllahirinput">Tanggal lahir</label>
      <input type="datetime" class="form-control register-input" id="tgllahirinput" placeholder="Masukkan tanggal lahir">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Nomor telepon</label>
      <input type="input" class="form-control register-input" id="exampleFormControlInput1" placeholder="Masukkan nomor telepon">
    </div>
  </form>

  <div class="form-group">
    <button type="button" class="btn-lg btn-outline-primary auth-btn">Register</button>
  </div>
</div>-->

{% endblock %} 