{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center">
	<div>
		<h style="font-size: 30px">Pendaftaran Pengguna Baru</h>
	</div>
  {% if request.session.valid == 'F' %}
    <a>No KTP atau email sudah digunakan!</a>
    <a>&nbsp</a>
  {% endif %}
  <form action='/auth/register/user/' method='post'>
    {% csrf_token %}

    {{ form }}

    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60px;">
      <button type="submit" class="btn-lg btn-outline-primary auth-btn">Register</button>
    </div>
  </form>

</div>

{% endblock %} 