<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Toys Rent Corp.</title>
		<meta name="google-signin-client_id" content="793165754584-h9e13uhc75eg0n44drobf3m04rr2h5nt.apps.googleusercontent.com">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Crete+Round|Pacifico" rel="stylesheet">
        <!--Insert CSS Tiap page here-->
        <link rel="stylesheet" href="{% static 'css/authscreen.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/item.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/welcome.css' %}" type="text/css">
        
        <link rel="stylesheet" href="{% static 'css/add.css' %}" type="text/css">
    
    
    
    </head>
    <body>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background:#e84a4a ">
                <a class="navbar-brand active" href="{% url 'Welcome:welcome' %}"><img src="{% static 'photos/logo-web.png' %}" style="width:80px;"><span class="sr-only">(current)</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% if request.session.role == "anggota" %}
                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Item:displayitems' %}">Items</a>
                            </li >

                        <li class="nav-item  events_news_font">
                            <a class="nav-link" href="{% url 'Barang:barang' %}">Barang</a>
                        </li>
                        <li class="nav-item  events_news_font" style="margin-right:8px">
                                <a class="nav-link" href="{% url 'Chat:chat' %}">Chat</a>
                        </li >

                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Pesanan:daftarPesanan' %}">Pesanan</a>
                            </li >

                        {% elif request.session.role == "admin" %}
                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Item:displayitems' %}">Items</a>
                            </li >

                            <li class="nav-item  events_news_font">
                                <a class="nav-link" href="{% url 'Barang:barang' %}">Barang</a>
                            </li>
                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Chat:chat' %}">Chat</a>
                            </li >

                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Pesanan:daftarPesanan' %}">Pesanan</a>
                            </li >
                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Level:daftarLevel' %}">Level</a>
                            </li >
                        {% endif %}

						{% if request.session.role == "admin" or request.session.role == "anggota" %}
                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Profile:viewprofile' %}">{{ request.session.nama }}</a>
                            </li >

                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Auth:logout' %}">|Logout|</a>
                            </li >
                        {% else %}
                            <li class="nav-item  events_news_font" style="margin-right:8px">
                                    <a class="nav-link" href="{% url 'Auth:authscreen' %}">Login</a>
                            </li >
                        {% endif %}
						
                    </ul>
                </div>
        </nav>

        {% block content %}
        {% endblock %}

    <!-- FOOTER -->
	<footer id="myFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 img-responsive center text-center">
                    <div class="col-sm-12 copyright">
                            <p>Copyright © 2019 Toys Rent Corp. All rights reserved</p> 
                    </div>
                </div>
				</div>
            </div>
        </div>
    </footer>
    </body>
</html>