{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center">
	<div>
		<h style="font-size: 30px">Penambahan Item Baru</h>
	</div>

  <form action='/item/add/' method='post'>
    {% csrf_token %}

    {{ form }}

    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60px;">
      <button type="submit" class="btn-lg btn-outline-primary auth-btn">Add Item</button>
    </div>
  </form>

  <!--<form>
    <div class="form-group">
      <label for="nama">Nama</label>
      <input type="input" class="form-control register-input" id="nama" placeholder="Masukkan nama item" required>
    </div>

    <div class="form-group">
      <label for="deskripsiitem">Deskripsi</label>
      <input type="textarea" class="form-control register-input" id="deskripsiitem" placeholder="Masukkan deskripsi item">
    </div>

    <div class="form-group">
      <label for="usiaitem">Rentang usia</label>
      <input type="email" class="form-control register-input" id="usiaitem" placeholder="Masukkan rentang usia item" required>
    </div>

    <div class="form-group">
      <label for="bahanitem">Bahan</label>
      <input type="email" class="form-control register-input" id="bahanitem" placeholder="Masukkan bahan item">
    </div>

    <div class="form-group">
          <label for="kategoriitem">Kategori</label>
      <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pilih Kategori
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Kategori 1</a>
        <a class="dropdown-item" href="#">Kategori 2</a>
        <a class="dropdown-item" href="#">Kategori 3</a>
      </div>
    </div>
  </form>-->
</div>

{% endblock %} 