{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


<div class="row">
  <div class="col-12" align="center">
    <h style="font-size: 30px">Daftar Barang - {{ item_name }}</h>
  </div>
</div>

<div class="row">
  <div class="col-1">
  </div>

  <div class="col-1">
  </div>

  <div class="col-1">
  </div>

  <div class="col-9">
  </div>
  </div>
</div>

<div class="row">
  <div class="col-1">
  </div>

  <div class="col-10">
    <table class="table table-responsive-sm" id="mytable">
      <thead>
        <tr class="thead-red" style="text-align: center;">
          <th scope="col" style="width: 10px">No</th>
          <th scope="col">ID Barang</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for i in barang %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><center>{{ i.0 }}</center></td>
            <td><center><a href='/barang/detail/{{ i.0 }}/'>Check</a></center></td>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-1">
  </div>
</div>


<!-- EDIT! -->
<script>

  $(document).ready( function () {
      $('#mytable').DataTable(
        {
          "dom": '<"top"f>rt<"bottom"p><"clear">',
          "ordering": false,
          "searching": false,
          "info":     false,
          

      }
      );
  } );
</script>

{% endblock %} 