{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


<div class="row">
  <div class="col-12" align="center">
    <h style="font-size: 30px">Daftar Item</h>
  </div>
</div>

<div class="row">
  <div class="col-1">
  </div>

  <div class="col-1">
      <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px">
        Sort By
      </button>
      <div class="dropdown-menu" aria-labelledby="sort">
        <a class="dropdown-item" href="/item/sort/nama">Nama Item</a>
        <a class="dropdown-item" href="/item/sort/kategori">Kategori</a>
      </div>
  </div>

  <div class="col-1">
      <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="filter">
        {% for i in categories %}
          <a class="dropdown-item" href="/item/filter/{{ i.0 }}">{{ i.1 }}</a>
        {% endfor %}
      </div>
  </div>

  <div class="col-9">
    {% if request.session.role == "admin" %}
      <a href='/item/add/'><button class="btn btn-primary">Add</button></a>
    {% endif %}
  </div>
    }
  </div>
</div>

<div class="row">
  <div class="col-1">
  </div>

  <div class="col-10">
    <table class="table table-responsive-sm" id="mytable">
      <thead>
        <tr class="thead-red" style="text-align: center;">
          <th scope="col" style="width: 10px">No</th>
          <th scope="col">Nama Item</th>
          <th scope="col">Kategori</th>
          <th scope="col" style="width: 100px">Action</th>
          {% if request.session.role == 'admin' %}
            <th scope="col" style="width: 250px">Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for i in item %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.0 }}</td>
            <td><center>{{ i.1 }}</center></td>
            <td><center><a href='/item/displaybarang/{{ i.0 }}'><button type="button" class="btn" style="width: 70px;">View</button></a></center></td>
            {% if request.session.role == 'admin' %}
            <td>
              <center><button onclick="update('{{ i.0 }}')"type="button" class="btn btn-warning" style="width: 70px;">Update</button>
              <button onclick="del('{{ i.0 }}')" type="button" class="btn btn-danger" style="width: 70px;">Delete</button></center>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-1">
  </div>
</div>


<!-- EDIT! -->
<script>
  function del(name) {
    if (confirm("Apakah Anda yakin menghapus item ini?")){
      var url = "{% url 'Item:deleteitem' 'name' %}";
      document.location.href = url.replace('name', name);
    }
  };

  function update(name) {
    var url = "{% url 'Item:updateitem' 'name' %}";
    document.location.href = url.replace('name', name);
  };

  $(document).ready( function () {
      $('#mytable').DataTable(
        {
          "dom": '<"top"f>rt<"bottom"p><"clear">',
          "ordering": false,
          "searching": false,
          "info":     false,
          

      }
      );
  } );
</script>

{% endblock %} 