{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center">
	<div>
		<h style="font-size: 30px">Update Data Item</h>
	</div>

  <form action='/item/update/' method='post'>
    {% csrf_token %}

    {{ form }}

    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60px;">
      <button type="submit" class="btn-lg btn-outline-primary auth-btn">Update Item</button>
    </div>
  </form>
</div>

{% endblock %} 